 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("np://user.desktop.nicepage.com/Site_958812146/images/Bez_nazwy-5.png?rand=f33e");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 666px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-radius: 50px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 104px auto 60px;
  padding: 9px 32px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 163px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}